
.header__box {
  color: rgb(69, 69, 73);
  background-color: rgb(225, 232, 241);
  display: flex;
  justify-content: space-between;
  position: fixed;
  left:50%;
  transform:translate(-50%, 0%);
  width: max-content;
  padding: 0 100px 0 100px;
   -webkit-box-shadow: 5px 5px 15px 5px #4d70a5;
   box-shadow: 5px 5px 15px 5px #4d70a5;
   border-radius: 30%;
}

.header__box span{
  padding: 40px;
}

h1{
animation: name 7s infinite;
}

@keyframes name{
  from{
color: rgb(86, 159, 177);
  }
  to{
color: rgb(202, 153, 177);
  }
}
.photo{
  width:300px;
  margin-left: auto;
  margin-right: auto;
}
.photo img{
  width: 100%;
  object-fit: cover;
}

.lang{
  justify-content: space-between;
}

main{
  display: flex;
  background-color: rgb(227, 231, 240);
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
aside{
  width: 30%;
  padding: 10px;
  background-color: rgb(167, 174, 184);
  border-right: 1px solid gray;
  padding-top: 80px;
}
section{
  padding: 20px;
  padding-top: 80px;
  width: 70%;
}
li a{
  color: blue;
}.repos li a{
  color: darkolivegreen;
}

.codewars{
  border: 3px solid darkgoldenrod;
  border-radius: 45px;
  padding: 10px;
  color:darkgoldenrod;
  font-weight: bold;
  animation: codewars 5s infinite;
}
.codewars:hover{
  border: 3px solid rgb(146, 114, 33);
  -webkit-box-shadow: inset 5px 5px 15px 5px #000000;
  box-shadow: inset 3px 3px 10px 3px #000000;
}

@keyframes codewars{
  from{
color: darkgoldenrod;
  }
  to{
color: rgb(250, 58, 10);
  }
}


/* RESPONSIVE */
/* 1050*/
@media screen and (max-width: 1050px) {
.photo{
  width: 200px;
}
}

/* 700px */
@media screen and (max-width: 992px) {
.photo {
  width: 150px;
}
main{
  flex-direction: column;
}
aside, section{
  padding: 10px;
  width: 100%;
}
aside {
  margin-top: 70px;
}
article{
margin-right: 20px;
}
.header__box{
  flex-direction: column;
}
.header__box span{
  padding: 0;
}
.lang{
 display: inline-flex;
}
h1{
  margin: 0;
}
aside {
  padding-top: 100px;
}
}
/* 576px - 768px */
@media screen and (max-width: 768px) {

}

/* 0- 576px */
@media screen and (max-width: 576px) {

}
